*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    display: block;
    margin-block-start: lem;
    margin-block-end: lem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}